#slideholder1 {
    height: 250px;
    width: 650px;
    margin: auto;
    transition: 0s;
}

#slideholder2 {
    height: 250px;
    width: 650px;
    margin: auto;
    transition: 0s;
}

#slideholder3 {
    height: 250px;
    width: 650px;
    margin: auto;
    transition: 0s;
}